<nav class="navbar navbar-expand-lg" style="background-color: rgb(16, 147, 229);">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Amigo Shoes </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active" aria-current="/men" routerLink="/men">Home</a>
          <a class="nav-link" routerLink="/order"> Your Orders</a>
          <a class="nav-link" routerLink="/cart">Cart</a>
          <a class="nav-link" routerLink="/login">Log IN or Register</a>
        </div>
      </div>
    </div>
  </nav>