<div class="container-fluid">
    <div class="row">
        <div class="col col-12 col-sm-12 col-lg-12 col-xl-12 col-xxl-12">
            <app-navbar></app-navbar>

            
            <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                  <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                  <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
                  <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                  <div class="carousel-item active" data-bs-interval="10000">
                    <img src="https://assets.adidas.com/images/h_840,f_auto,q_auto,fl_lossy,c_fill,g_auto/8bfae89ae38a43debaa3aed7017f34c6_9366/Forum_Low_Shoes_White_GX7071_01_standard.jpg" height="700px" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                      <h5>Amigo Shoes</h5>
                      <p>Find the Perfect Shoes </p>
                    </div>
                  </div>
                  <div class="carousel-item" data-bs-interval="2000">
                    <img height="700px" src="https://assets.adidas.com/images/h_840,f_auto,q_auto,fl_lossy,c_fill,g_auto/7df69015a9024149b7f5ad490115139c_9366/ZX_5K_BOOST_Shoes_Grey_GV7701_01_standard.jpg" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                     
                    </div>
                  </div>
                  <div class="carousel-item">
                    <img src="https://assets.adidas.com/images/h_840,f_auto,q_auto,fl_lossy,c_fill,g_auto/ec09511ccc9e4b0d9469ae1600ebb8ef_9366/NMD_R1_Shoes_Black_GW5633_01_standard.jpg" height="700px" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                      
                    </div>
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
              
        
              <nav class="navbar navbar-expand-lg" style="background-color:  rgb(168, 208, 232);">
                <div class="container-fluid">
                  <a class="navbar-brand" href="#">Amigo Fashion </a>
                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse d-flex justify-content-center" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <a class="nav-link active" aria-current="/men" routerLink="/men">MEN</a>
                      <a class="nav-link" routerLink="/women"> WOMEN</a>
                      <a class="nav-link" routerLink="/kid">KIDS</a>
                    
                    
                    </div>
                  </div>
                </div>
              </nav>


              
      <div class="row g-3">
        <div class="col col-12 col-sm-6 col-lg-4 col-xl-2 col-xxl-2">
          <div class="card" style="background-color: rgb(104, 106, 108) ;">
              <img style="height: 280px;" src="https://m.media-amazon.com/images/I/819ExBVbugL._AC_UL480_FMwebp_QL65_.jpg" class="card-img-top" alt="...">
              <div class="card-body">
               <h5 class="card-title">Boomer</h5>
                <h5 class="card-title">₹899</h5>
                <a href="" class="btn btn-success">ORDER NOW</a>
              </div>
            </div>
      </div>
  
  
      <div class="col col-12 col-sm-6 col-lg-4 col-xl-2 col-xxl-2">
          <div class="card" style="background-color: rgb(104, 106, 108) ;">
              <img style="height: 280px;" src="https://m.media-amazon.com/images/I/71Ylm5CN6YL._AC_UL480_FMwebp_QL65_.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Boomer</h5>
                <h5 class="card-title">₹499</h5>
               
                <a href="" class="btn btn-success">ORDER NOW</a>
              </div>
            </div>
      </div>
  
  
  
  
  
      <div class="col col-12 col-sm-6 col-lg-4 col-xl-2 col-xxl-2">
          <div class="card" style="background-color: rgb(104, 106, 108) ;">
              <img style="height: 280px;" src="https://m.media-amazon.com/images/I/71T4hMvXEZL._AC_UL480_FMwebp_QL65_.jpg" class="card-img-top" alt="...">
              <div class="card-body">
               <h5 class="card-title">Puma</h5>
                <h5 class="card-title">₹1,699</h5>
               
                <a href="" class="btn btn-success">ORDER NOW</a>
              </div>
            </div>
      </div>
  
  
  
      <div class="col col-12 col-sm-6 col-lg-4 col-xl-2 col-xxl-2">
          <div class="card" style="background-color: rgb(104, 106, 108) ;">
              <img style="height: 280px;" src="https://m.media-amazon.com/images/I/61qrd5-qFTL._UY695_.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Puma</h5>
               <h5 class="card-title">₹1,899</h5>
               
                <a href="" class="btn btn-success">ORDER NOW</a>
            </div>
      </div>
  
      </div>
  
  
  
  
      <div class="col col-12 col-sm-6 col-lg-4 col-xl-2 col-xxl-2">
          <div class="card" style="background-color: rgb(104, 106, 108) ;">
              <img style="height: 280px;" src="https://m.media-amazon.com/images/I/71X8gXn3VXL._AC_UL480_FMwebp_QL65_.jpg" class="card-img-top" alt="...">
              <div class="card-body">
               <h5 class="card-title">Sparx</h5>
                <h5 class="card-title">₹1,499</h5>
               
                <a href="" class="btn btn-success">ORDER NOW</a>
              </div>
            </div>
      </div>
  
  
  
  
  
  
  
      <div class="col col-12 col-sm-6 col-lg-4 col-xl-2 col-xxl-2">
          <div class="card" style="background-color: rgb(104, 106, 108) ;">
              <img style="height: 280px;" src="https://m.media-amazon.com/images/I/51aeH0deKhL._UX695_.jpg" class="card-img-top" alt="...">
              <div class="card-body">
               <h5 class="card-title">Sparx</h5>
               <h5 class="card-title">₹1,799</h5>
               
               <a href="" class="btn btn-success">ORDER NOW</a>
              </div>
            </div>
      </div>
  
  
  
  
  
  
  
      <div class="col col-12 col-sm-6 col-lg-4 col-xl-2 col-xxl-2">
          <div class="card" style="background-color: rgb(104, 106, 108) ;">
              <img style="height: 280px;" src="https://contents.mediadecathlon.com/p1651773/k$44aef6a647a19546ce536d8a85df198a/kids-shoes-550-i-move-sizes-8-to-11-pink.jpg?format=auto&quality=70&f=300x0" class="card-img-top" alt="...">
              <div class="card-body">
               <h5 class="card-title">Bata</h5>
               <h5 class="card-title">₹1,099</h5>
               
                <a href="" class="btn btn-success">ORDER NOW</a>
              </div>
            </div>
      </div>
  
  
  
      <div class="col col-12 col-sm-6 col-lg-4 col-xl-2 col-xxl-2">
          <div class="card" style="background-color: rgb(104, 106, 108) ;">
              <img style="height: 280px;" src="https://contents.mediadecathlon.com/p1604209/k$f375d39d338fe5786d3ced00ee84c6b3/kids-unisex-velcro-shoes-at-easy-orange.jpg?format=auto&quality=70&f=300x0" class="card-img-top" alt="...">
              <div class="card-body">
               <h5 class="card-title">Red Cheif</h5>
               <h5 class="card-title">₹999</h5>
               
               <a href="" class="btn btn-success">ORDER NOW</a>
              </div>
            </div>
      </div>
  
  
  
  
      <div class="col col-12 col-sm-6 col-lg-4 col-xl-2 col-xxl-2">
          <div class="card" style="background-color: rgb(104, 106, 108) ;">
              <img style="height: 280px;" src="https://m.media-amazon.com/images/I/71sfbi31lhL._AC_UL480_FMwebp_QL65_.jpg" class="card-img-top" alt="...">
              <div class="card-body">
               <h5 class="card-title">Adidas</h5>
               <h5 class="card-title">₹1,999</h5>
               
                <a href="" class="btn btn-success">ORDER NOW</a>
              </div>
            </div>
      </div>
  
  
  
  
      <div class="col col-12 col-sm-6 col-lg-4 col-xl-2 col-xxl-2">
          <div class="card" style="background-color: rgb(104, 106, 108) ;">
              <img style="height: 280px;" src="https://m.media-amazon.com/images/I/61utX8kBDlL._AC_UL480_FMwebp_QL65_.jpg" class="card-img-top" alt="...">
              <div class="card-body">
               <h5 class="card-title">Asian</h5>
                <h5 class="card-title">₹1,099</h5>
               
               <a href="" class="btn btn-success">ORDER NOW</a>
              </div>
            </div>
      </div>
  
      <div class="col col-12 col-sm-6 col-lg-4 col-xl-2 col-xxl-2">
          <div class="card" style="background-color: rgb(104, 106, 108) ;">
              <img style="height: 280px;" src="https://m.media-amazon.com/images/I/61Vg9Td2j4L._AC_UL480_FMwebp_QL65_.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Campus</h5>
                <h5 class="card-title">₹2,099</h5>
               <a href="" class="btn btn-success">ORDER NOW</a>
              </div>
            </div>
      </div>
  
  
  
  
  
      <div class="col col-12 col-sm-6 col-lg-4 col-xl-2 col-xxl-2">
          <div class="card" style="background-color: rgb(104, 106, 108) ;">
              <img style="height: 280px;" src="https://m.media-amazon.com/images/I/41dXa2CVvPL._AC_UL480_FMwebp_QL65_.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Reebok</h5>
             <h5 class="card-title">₹2,099</h5>
               
        <a href="" class="btn btn-success">ORDER NOW</a>
              </div>
            </div>
      </div>
        </div>
        </div></div></div>
  
